*, :before, :after {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

html,
body {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: Roboto;
    font-size: 10px;
    line-height: 3.5em;
    font-weight: 300;
}

h1 {
    font-family: Roboto Condensed;
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.5em;
    text-shadow: #020819 8px -20px 9px;
}

.header {
    background: linear-gradient(to bottom right, #196095, #85cbfb);
    height: 250px;
    padding-top: 50px;
}

.search-input {
    background-color: rgb(25, 33, 41);
    color: white;
    font-size: 1.5em;
    padding-top: 25px;
    padding-bottom: 25px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.label-container {
    position: relative;
}

.input-airport {
    margin: 0 5px;
    font-family: Roboto Condensed;
    width: 250px;
    font-size: 1em;
    letter-spacing: 0.3px;
    text-align: center;
    padding: 5px 15px;
    border: none;
}

.react-datepicker-wrapper input {
    font-family: Roboto Condensed;
    width: 200px;
    font-size: 1em;
    letter-spacing: 0.3px;
    text-align: center;
    padding: 5px 15px;
    border: none;
    margin: 0 5px;
}

.btn-search {
    background-color: rgb(67, 163, 230);
    color: white;
    font-family: Roboto Condensed;
    font-size: 1em;
    letter-spacing: 0.3px;
    text-align: center;
    text-decoration: none;
    padding: 5px 15px;
    border: none;
    margin: 0 5px;
}

.suggestions {
    position: absolute;
    top: 35px;
    right: 5px;
    width: 250px;
    border: 1px solid #999;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    padding-left: 0;
}

.suggestions li {
    padding: 0.5rem;
    background-color: rgb(25, 33, 41);
    color: white;
}

.suggestion-active,
.suggestions li:hover {
    background-color: white;
    color: rgb(25, 33, 41);
    cursor: pointer;
    font-weight: 900;
}

.suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #999;
}

.message {
    font-family: Roboto Condensed;
    font-size: 3em;
    text-align: center;
    color: #d0435b;
}

.flight-container {
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    text-align: center;
    border: 2px solid #eee;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 0 black;
    margin: 50px auto;
    padding: 10px 20px;
    width: 40%;
}

.flight-info {
    display: flex;
    justify-content: space-between;
}

.flight-container p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-select {
    background-color: white;
    color: rgb(67, 163, 230);
    font-family: Roboto Condensed;
    font-size: 1em;
    letter-spacing: 0.3px;
    text-align: center;
    text-decoration: none;
    padding: 5px 15px;
    border: 1px solid rgb(67, 163, 230);
    margin: 0 5px;
}

.flight-info-airport {
    margin-left: 10px;
    margin-right: 10px;
}

.duration {
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 0.8em;
    font-weight: 700;
}

.hour {
    font-size: 1.2em;
    font-weight: 700;
    color: #4e4760;
}
.airport {
    font-size: 0.8em;
    text-align: right;
    font-weight: 700;
    color: #acacac;
}


.flight-price p {
    font-size: 1.2em;
    font-weight: 700;
}

.logo {
    width: 80px;
}